In [42]:
import pandas as pd

In [43]:
df_train = pd.read_csv("train.csv", index_col=0)

In [44]:
df_train['mean'] = df_train.mean(axis=1).round(0)
df_train

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,mean
Id,,,,,,,,,,,,
0,738.023171,1764.052346,400.157208,978.737984,2240.893199,1867.557990,-977.277880,950.088418,-151.357208,-103.218852,410.598502,738.0
1,400.646015,144.043571,1454.273507,761.037725,121.675016,443.863233,333.674327,1494.079073,-205.158264,313.067702,-854.095739,401.0
2,189.900156,-2552.989816,653.618595,864.436199,-742.165020,2269.754624,-1454.365675,45.758517,-187.183850,1532.779214,1469.358770,190.0
3,-78.399449,154.947426,378.162520,-887.785748,-1980.796468,-347.912149,156.348969,1230.290681,1202.379849,-387.326817,-302.302751,-78.0
4,-547.373531,-1048.552965,-1420.017937,-1706.270191,1950.775395,-509.652182,-438.074302,-1252.795360,777.490356,-1613.897848,-212.740280,-547.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,-199.976500,-30.453041,1082.680684,-530.579767,602.366643,-2138.290628,-56.632352,1166.444325,-772.096264,-908.987980,-414.216625,-200.0
9996,39.584572,2520.830358,-124.883939,18.067992,-998.622811,-1262.733524,-565.107007,-455.238199,555.726945,994.368197,-286.562290,40.0
9997,61.176538,-545.704959,1696.765630,-508.186053,3.620563,-1018.514516,251.561864,-338.181817,1014.142886,-582.528063,638.789847,61.0
9998,-202.136489,-367.787118,-568.357801,-721.247794,198.279702,-217.422041,914.756550,443.756638,-306.203642,-949.055902,-448.083485,-202.0
9999,-289.218996,428.570549,-164.999054,864.962658,-647.662456,720.057730,-337.714761,-2028.548436,726.181981,-1167.830521,-1285.207648,-289.0

In [45]:
df_test = pd.read_csv("test.csv", index_col=0)

In [46]:
df_test

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
Id,,,,,,,,,,
10000,-483.797492,1288.057065,-129.878712,-198.078388,-334.487592,-391.443186,-612.406176,-676.523964,1327.229655,-448.695446
10001,-316.407305,30.830556,-313.356726,-173.259184,-327.368719,944.368248,1122.017380,112.338731,1372.340221,2062.561842
10002,-2448.558997,-561.988408,355.098820,634.378170,-392.450091,-813.156399,-232.873263,246.801210,-562.413197,-841.602015
10003,-942.120025,945.373015,140.910705,1753.565841,-347.223685,-1489.493408,-508.035412,1992.650031,555.461973,-1696.076948
10004,1752.366157,-597.550816,-466.491398,-1094.792276,-645.424882,-202.154830,205.073469,-270.385827,-310.299496,362.212675
...,...,...,...,...,...,...,...,...,...,...
11995,-70.207810,328.849423,1006.084617,440.948562,-692.274282,237.091043,-565.192046,1893.955311,1277.944394,789.953338
11996,-1692.417164,968.971133,1371.423442,-144.224724,503.164492,-228.219798,153.761541,1872.043587,2153.553632,6.797203
11997,199.864648,261.345779,-127.986805,-298.503216,-364.240174,-1370.134911,769.662730,-517.182892,79.694141,1016.126607
11998,-151.673157,-1425.199620,1070.922114,938.800763,1373.176372,-583.905998,-292.269529,-1206.766021,-1047.464871,7.588102
11999,-97.089983,780.444250,221.081520,72.748763,-1484.861623,462.159812,1549.025158,2531.705492,-35.722034,173.200191

In [47]:
df_test['y'] = df_test.mean(axis=1)

In [48]:
import numpy as np
df_test['y'] =  df_test['y'].apply(np.floor)

In [49]:
df_sub = df_test[["y"]]
df_sub

           y
Id
10000  -67.0
10001  451.0
10002 -462.0
10003   40.0
10004 -127.0
...      ...
11995  464.0
11996  496.0
11997  -36.0
11998 -132.0
11999  417.0

[2000 rows x 1 columns]

In [50]:
df_sub.to_csv("sample1.csv")